#heading{
background-color:#009999; background-position:center; color:#003399; font-family:algerian;
}
#latestdeal{
margin-top:1.5%;
margin-left:0%;
margin-right:80%;
height:400px;
border-bottom-color:#003399;
color:#666666;
position:absolute;
}
ul{
float:left;
}
li{
color:#006600;
text-align:left;
text-decoration:blink;
padding-bottom:10%;
}
#ul1{
margin-top:0%;
float:left;
list-style:circle;
list-style-type:none;
padding-left:30%;
}
#center{
margin-top:1.5%;
margin-left:20%;
margin-right:20%;
background-image:url(time.jpg);
position:absolute;
}
#js{
text-align: center;
margin:2%;
color:#000033;
}
#ranks{
margin-top:1.5%;
background-color:#9ABABA;
margin-left:80%;
margin-right:0%;
height:400px;
position:absolute;
}
#footer{
margin-top:90%;
margin-left:40%;
border-bottom:medium;
border-bottom:#666666;
color:#000000;
font-size:12px;
position:relative;
}
#signupform{
margin-left:20%;
margin-right:5%;
padding:10%;
color:#000033;
position:absolute;
}
